/node_modules
/public/css
/public/hot
/public/js
/public/js/app.js
/public/css/app.css
/public/storage
/public/svg
/public/mix-manifest.json
/public/img
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
